<div class="container">

    <h1>Proyectos</h1>

    <% if Project.any?%>
        <h2>Listado</h2>
        <table class="table table-striped", border="1">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Pais</th>
                <th>Tipo</th>
                <th>GitHub</th>
                <th>Trello</th>
                <th>Fecha de solicitud</th>
                <th>Fecha de inicio</th>
                <th>Fecha de finalizacion</th>
                <th>Estado</th>
            </tr>
            <% @projects.each do |project| %>
                <tr>
                    <td><%= link_to project.id, project %></td>
                    <td><%= project.NAME_PROJECT %></td>
                    <td><%= project.LOCATION_PROJECT %></td>
                    <td><%= project.TYPE_PROJECT %></td>
                    <td><%= project.GITHUB_PROJECT %></td>
                    <td><%= project.TRELLO_PROJECT %></td>
                    <td><%= project.DATEREQ_PROJECT %></td>
                    <td><%= project.STARTDATE_PROJECT %></td>
                    <td><%= project.ENDDATE_PROJECT %></td>
                    <td><%= project.STATE_PROJECT %></td>
                <tr>
            <% end %>
        </table>
    <% else %>
    <em>No hay ningun proyecto aprobado o pendiente</em>
    <% end %>

    <p>
        <%= link_to "Proyectos", projects_path, class: 'btn btn-primary' %>-->
    </p>
</div>