<div class="container">

    <h1>Ordenes de Desarrollo</h1>

    <% if DevelopmentOrder.any?%>
        <h2>Listado</h2>
        <table class="table table-striped", border="1">
            <tr>
                <th>ID</th>
                <th>Nombre Proyecto</th>
                <th>Tecnologia a usar</th>
                <th>Estado orden de desarrollo</th>
            </tr>
            <% @development_orders.each do |development_order| %>
            <tr>
                <td width="10%"><%= link_to development_order.id, development_order %></td>
                <td width="10%" ><%= development_order.PROJECTNAME_DEVORDER %></td>
                <td width="10%"><%= development_order.TECHS_DEVORDER %></td>
                <td width="10%"><%= link_to "Aprobar", new_project_path, class: 'btn btn-success' %>  
                                <%= link_to "Denegar", development_order, method: :delete, data: {confirm: "Seguro?"}, class: 'btn btn-danger' %></td>
            <tr>
            <% end %>
        </table>
    <% else %>
    <em>No hay ninguna orden de desarrollo en la tabla</em>
    <% end %>

    <p>
        <%= link_to "Nueva Orden de Desarrollo", new_development_order_path, class: 'btn btn-primary' %>
    </p>
</div>