<div class="container"> 
    <h1>Nueva Development Order</h1>

    <%= form_for @development_order do |f| %>
        <div>
            <%= f.label :client_id, "Cliente ID"%>
            <%= f.select :client_id, Client.pluck(:NAME_CLIENT, :id) %>
        </div>

        <div>
            <%= f.label :PROJECTNAME_DEVORDER, "Nombre del Proyecto" %>
            <%= f.text_field :PROJECTNAME_DEVORDER, class: 'form-control', placeholder: 'Ingrese el nombre del proyecto' %>
        </div>
        
        <div>
            <%= f.label :TECHS_DEVORDER, "Tecnologia a usar" %>
            <%= f.text_field :TECHS_DEVORDER, class: 'form-control', placeholder: 'Ingrese la tecnologia a usar' %>
        </div>

        <div>
            <%= f.submit :Submit, class: 'btn btn-success' %>
        </div>
    <% end %>
</div>