<h1>Nueva Development Order</h1>

<%= form_for @development_order do |f| %>
    <div>
        <%= f.label :client_id, "Cliente ID"%>
        <%= f.select :client_id, Client.pluck(:NAME_CLIENT, :id) %>
    </div>

    <div>
        <%= f.label :PROJECTNAME_DEVORDER %>
        <%= f.text_field :PROJECTNAME_DEVORDER %>
    </div>
    
    <div>
        <%= f.label :TECHS_DEVORDER %>
        <%= f.text_field :TECHS_DEVORDER %>
    </div>

    <div>
        <%= f.submit %>
    </div>
<% end %>